.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.box {
  width: 112.8rem;
  height: 22.5rem;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .box {
    width: 100vw;
    height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}